<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>postTest1</title>
</head>
<body>
<form method="post" action="/booktest/postTest2/">
    用户名：<label>
    <input type="text" name="username"/>
</label> <br>
    密   码： <label>
    <input type="password" name="password"/>
</label><br/>
    性   别： <label>
    <input type="radio" name="gender" value="man" checked="checked">
</label>男
    <label>
        <input type="radio" name="gender" value="woman">
    </label>女<br/>
    爱   好：<label>
    <input type="checkbox" name="hobby" value="胸口碎大石">胸口碎大石
</label>
    <label>
        <input type="checkbox" name="hobby" value="抽烟">抽烟
    </label>
    <label>
        <input type="checkbox" name="hobby" value="喝酒">喝酒
    </label>
    <label>
        <input type="checkbox" name="hobby" value="烫头">烫头
    </label><br>
    <input type="submit" value="submit">
</form>
</body>
</html>